.songs-item {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.songs-item:last-child {
    margin-bottom: 0;
}
.songs-item__figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.songs-item__img {
}
.songs-item__discription {
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 15px;
}
.songs-item__music-name {
    font-size: 16px;
    color: #fff;
}
.songs-item__singer {
    font-size: 14px;
    line-height: 1.7;
    color: #7d7d7d;
}
.songs-item__music-time {
    margin-top: -37px;
    color: #7d7d7d;
}
@media (min-width: 480px) {
    .songs-header__list {
        padding: 0 50px;
    }
}
@media (min-width: 768px) {
    .songs-header__list {
        padding: 0 80px;
    }
    .songs-list {
        padding: 0 50px;
    }
}
@media (min-width: 1020px) {
    .songs-header__list {
        padding: 0 100px;
    }
    .songs-list {
        padding: 0 50px;
    }
}