.header {
    padding: 20px 0;
    padding-bottom: 40px;
}

.logo {
    float: left;
    display: inline-block; /* req'd for :first-letter to work! */
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(120, 120, 120);

    border: none;
    text-decoration: none;
    cursor: pointer;
}

.logo:hover::first-letter {
    font-weight: 600;
    color: rgb(26, 188, 156);
}

.menu {
    float: right;
}

.menu-item {
    display: inline-block;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(26, 26, 26);
    margin-right: 20px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item:hover {
    color: rgb(26, 188, 156);
    cursor: pointer;
}