.btn {
    font-size: 17px;
    color: #fff;
    background-color: #393536;
    border: none;
    border-radius: 2px;
    padding: 6px 8px;
    margin-left: 8px;
    box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.btn:hover {
    background-color: #4F4D50;
}