.artist-card {
    flex-basis: 63%;
    margin: 0 auto 1rem;
    position: relative;
    font-family: var(--family);
}

.artist-card:last-child {
    margin: 0 auto;
}

.artist-card__img {
    /*width: 9.54rem;*/
}

.artist-card figure {
    position: relative;
    z-index: 1;
}

.artist-card figcaption {
    background-color: var(--serch);
    z-index: -1;
    position: relative;
    width: 10.86rem;
    min-height: 90px;
    margin: auto;
    padding: 1rem 0.5rem;
    border-radius: 0.125rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.65),inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.15);
}

.artist-card__name {
    font-size: var(--mobMedium);
    color: var(--white);
    margin-bottom: 0.5rem;
}

.artist-card__number-albums {
    font-size: var(--mobSmall);
    color: var(--grey);
}

.artist-card__link {
    font-size: var(--mobSmall);
    color: var(--grey);
}

.artist-card figure:hover > .card__overlay {
    display: flex;
}

.card__overlay {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
    left: 8px;
    width: 92%;
    height: 66%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card__overlay-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 8px;
    cursor: pointer;
}

.card__overlay-icon:hover {
    width: 40px;
    height: 40px;
    transition: 0.25s;
}

@media (min-width: 480px) {
    .artist-card {
        flex-basis: 50%;
    }

    .artist-card:nth-last-child(-n+2) {
        margin: 0 auto;
    }
}

@media (min-width: 550px) {
    .artist-card {
        flex-basis: 30%;
    }

    .artist-card:nth-last-child(-n+3) {
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .artist-card {
        flex-basis: 25%;
    }

    .artist-card:nth-last-child(-n+4) {
        margin: 0 auto;
    }
}